#root {
  width: 100%;
  padding: 2rem;
}

form,
.container-list {
  display: flex;
  flex-direction: column;
}

form {
  gap: 10px;
}

.container-list {
  gap: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  gap: 5px;
}

.gap-8 {
  gap: 2rem;
  align-items: baseline;
}

.mb-8 {
  margin-bottom: 20px;
}

/* Buttons */
.btn-submit {
  width: 15%;
  background-color: #0588f0;
  color: white;
}

.btn-submit {
  border: 1px solid #0090ff;
  color: white;
  background-color: #0090ff;
}

.btn-submit:hover:disabled,
.btn-submit:disabled {
  border-color: white;
  cursor: not-allowed;
  background-color: #e6f4fe;
  color: #0090ff;
}

.tag {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
}

.yellow-5 {
  background-color: #ffe770;
}

.red-11 {
  background-color: #ce2c31;
}

.green-10 {
  background-color: #2b9a66;
}

.hidden {
  display: none;
}
